outputs/
logs/
**/__pycache__/
*.pyc
*.pth
*.pt
*.net
*.gz
*.npy
*.npz
*.pkl
*.pickle
*.wandb
wandb/
third_party/FACT/log/
third_party/FACT/logs/
third_party/DiffAct/result/
third_party/ASQuery/ckpt/
third_party/ASQuery/logs/
third_party/LTContext/experiments/
third_party/LTContext/logs/
third_party/LTContext/test_results/
third_party/ASR-PSR-Experiment/models/
third_party/ASR-PSR-Experiment/results/
