outputs/
logs/
features/
**/__pycache__/
*.pyc
*.pth
*.pt
*.net
*.gz
*.npy
*.npz
*.pkl
*.pickle
*.wandb
wandb/
third_party/fact/log/
third_party/fact/logs/
third_party/diffact/result/
third_party/asquery/ckpt/
third_party/asquery/logs/
third_party/ltcontext/experiments/
third_party/ltcontext/logs/
third_party/ltcontext/test_results/
third_party/asr_psr_experiment/models/
third_party/asr_psr_experiment/results/
