outputs/
logs/
features/
**/__pycache__/
*.pyc
*.pth
*.pt
*.net
*.gz
*.npy
*.npz
*.pkl
*.pickle
*.wandb
wandb/
third_party/fact/log/
third_party/fact/logs/
third_party/diffact/result/
third_party/asquery/ckpt/
third_party/asquery/logs/
third_party/ltcontext/experiments/
third_party/ltcontext/logs/
third_party/ltcontext/test_results/
third_party/ms_tcn2/models/
third_party/ms_tcn2/results/
third_party/videomae_v2_head/models/
third_party/videomae_v2_head/results/
third_party/avt/outputs/
third_party/scalant/outputs/
